<app-header></app-header>

<div class="container">
  <div id="login-page" class="row">
    <div class="col s12 z-depth-6 card-panel">
      <div class="alert alert-danger" *ngIf="errorMessage">
        {{errorMessage}}
      </div>
      <form [formGroup]="postJobForm"  *ngIf="!submitted" (ngSubmit)="onSubmit()" novalidate>
        <fieldset>
          <legend>Post Job Vacancy</legend>

          <div class="row">
          </div>

          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">assignment_ind</i>
              <input class="validate" id="post" type="text" formControlName="post">
              <label for="post" data-error="wrong" data-success="right"> post name</label>
              <div *ngIf="post.invalid && (post.dirty || post.touched)" class="alert alert-danger">
                <div *ngIf="post.errors.required">
                  post is required.
                </div>
                <div *ngIf="post.errors.minlength">
                  post must be minimum 3 length charactor
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">people</i>
              <input class="validate" id="emplyNumber" type="number" formControlName="emplyNumber">
              <label for="emplyNumber" data-error="wrong" data-success="right"> number of employee</label>
              <div *ngIf="emplyNumber.invalid && (emplyNumber.dirty || emplyNumber.touched)" class="alert alert-danger">
                <div *ngIf="emplyNumber.errors.required">
                  emplyNumber is required.
                </div>
                <div *ngIf="emplyNumber.errors.min">
                  emplyNumber must be atleast 1
                </div>

              </div>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">monetization_on</i>
              <input class="validate" id="salary" type="text" formControlName="salary">
              <label for="salary" data-error="wrong" data-success="right"> Salary</label>
              <div *ngIf="salary.invalid && (salary.dirty || salary.touched)" class="alert alert-danger">
                <div *ngIf="salary.errors.required">
                  salary is required.
                </div>
              </div>
            </div>
          </div>


          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">location_city</i>
              <input class="validate" id="officeName" type="text" formControlName="officeName">
              <label for="officeName" data-error="wrong" data-success="right"> Office Name</label>
              <div *ngIf="officeName.invalid && (officeName.dirty || officeName.touched)" class="alert alert-danger">
                <div *ngIf="officeName.errors.required">
                  officeName is required.
                </div>
                <div *ngIf="officeName.errors.minlength">
                  officeName must be 4 charactor long
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">place</i>
              <input class="validate" id="address" type="text" formControlName="address">
              <label for="address" data-error="wrong" data-success="right"> Office Address</label>
              <div *ngIf="address.invalid && (address.dirty || address.touched)" class="alert alert-danger">
                <div *ngIf="address.errors.required">
                  address is required.
                </div>
                <div *ngIf="address.errors.minlength">
                  address must be 4 charactor long
                </div>
              </div>
            </div>
          </div>

          <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">contact_phone</i>
                <input class="validate" id="phone" type="tel" formControlName="phone" pattern="^\d{10}$">
                <label for="phone" data-error="wrong" data-success="right">Phone No.</label>
                <div *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="alert alert-danger">
    
                  <div *ngIf="phone.errors.required">
                    phone is required.
                  </div>
                  <div *ngIf="phone.errors.pattern">
                    phone must be 10 digit long.
                  </div>
    
                </div>
              </div>
            </div>
    
            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">mail_outline</i>
                <input class="validate" id="email" type="email" formControlName="email">
                <label for="email" data-error="wrong" data-success="right">Email</label>
              </div>
            </div>

          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">mode_edit</i>
              <textarea id="textarea1" class="materialize-textarea" formControlName="description"></textarea>
              <label for="textarea1">Job Description</label>
              <div *ngIf="description.invalid && (description.dirty || description.touched)" class="alert alert-danger">
                <div *ngIf="description.errors.required">
                  description is required.
                </div>
                <div *ngIf="description.errors.minlength">
                  description must be minimum 10 length charactor
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="file-field input-field">
              <div class="btn">
                <span>File</span>
                <input type="file" formControlName="file">
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input type="date"  formControlName="deadLine" id="deadLine">
              <label for="deadLine" data-error="wrong" data-success="right">Enter deadLine for this post</label>
              <div *ngIf="deadLine.invalid && (deadLine.dirty || deadLine.touched)" class="alert alert-danger">
                  <div *ngIf="deadLine.errors.required">
                    deadlin is required.
                  </div>
                </div>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <button class="btn btn-primary" [disabled]="!postJobForm.valid">share news</button>
            </div>
          </div>

        </fieldset>
      </form>

    </div>
  </div>
  <hr>
  <h5>Job Vacancies</h5>
  <hr>
  <div class="news-wrapper">
    <table *ngIf="listJobs">
      <tr>
        <td>S.N.</td>
        <td>Date</td>
        <td>Title</td>
        <td>Lost By</td>
        <td></td>
      </tr>
      <tr *ngFor="let job of listJobs;let i=index">
        <td>{{i+1}}</td>
        <td>{{job.deadLine | date}}</td>
        <td>{{job.post}}</td>
        <td>{{job.postedBy.name}}</td>
        <td><a>view details</a></td>
      </tr>
    </table>
  </div>
</div>

<app-footer></app-footer>