<div class="org-info">
  <div class="logo-wrapper">
    <a routerLink="/home"> <img src="assets/icons and logo/org-logo.png" width="150px;" height="150px;" alt="hamroabhiyanlogo">
    </a>
  </div>
  <div class="infor-wrapper">
    <div class="title">
      <a routerLink="/home">
        <h3>HamroAbhiyanDotCom</h3>
      </a>
    </div>
    <div class="address-wrapper">
      hamroabhiyandotcom@gmail.com
    </div>
  </div>
</div>
<nav>
  <div class="nav-wrapper">
    <a style="margin-right: 10px;" routerLink="/login" class="right"><i class="small material-icons left"></i>Login</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a routerLink="/home"><i class="small material-icons left">home</i>Home</a></li>
      <li><a routerLink="/postnews">News</a></li>
      <li><a routerLink="/lost">Lost</a></li>
      <li><a routerLink="/found">Found</a></li>
      <li><a routerLink="/jobs">Jobs</a></li>
      <li><a routerLink="/awareness">Awareness</a></li>
      <li><a routerLink="/aboutus">About Us</a></li>
    </ul>
  </div>
</nav>