<!-- <div id="wrapper"> -->

<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
  <div class="navbar-header">

    <a class="navbar-brand" routerLink="/dashboard">
      <h4>HAMROABHIYANDOTCOM </h4>
    </a>
  </div>

  <ul class="nav  navbar-right">


    <li class="mr-auto">
      <button (click)="signout()" class="btn btn-primary">signout</button>
    </li>

  </ul>

  <nav id="sidebar">
    <div class="sidebar-header">
      <h3>Admin Dashboard</h3>
    </div>

    <ol class="list-unstyled components">
      <li class="active">
        <a routerLink="/dashboard"><i class="fas fa-tachometer-alt fa-fw"></i>&nbsp;Dashboard</a>

      </li>
      <li>
        <a routerLink="/admin/news"><i class="fas fa-newspaper"></i>&nbsp;News</a>
      </li>
      <li>
        <a routerLink="/admin/lost">
            <i class="fas fa-search-minus"></i>&nbsp;Lost</a>

      </li>
      <li>
        <a routerLink="/admin/found"><i class="fas fa-search-plus"></i>&nbsp;Found</a>
      </li>
      <li>
        <a routerLink="/admin/jobs"><i class="fas fa-briefcase"></i>&nbsp;Jobs</a>
      </li>
      <li>
        <a routerLink="/admin/awareness"><i class="fas fa-flag-checkered"></i>&nbsp;Awareness</a>
      </li>
      <li>
        <a routerLink="/admin/aboutus"><i class="fas fa-home"></i>&nbsp;About Us</a>
      </li>
    </ol>

  </nav>
</nav>