<app-dashboardheader></app-dashboardheader>
<div id="page-wrapper" style="min-height: 217px;">
  <div class="row">
    <div class="alert alert-danger" *ngIf="errorMessage">
      {{errorMessage}}
    </div>
    <table *ngIf="listFound" class="responsive-table">
      <thead>
        <tr>
          <td>S.N.</td>
          <td>Date</td>
          <td>Goods Nae</td>
          <td>Found By</td>
          <td></td>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let itm of listFound;let i=index">
          <td>{{i+1}}</td>
          <td>{{itm.date | date}}</td>
          <td>{{itm.goodsName}}</td>
          <td>{{itm.foundBy.name}}</td>
          <td>
            <a (click)="viewDetail(itm)" class="btn btn-success" data-toggle="modal" data-target="#detailModalCenter">View
              Detail&nbsp;
              <i class="fas fa-eye"></i>
            </a>&nbsp;
            <!-- <a (click)="editNews(nws)" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">Edit&nbsp;
              <i class="fa fa-edit"></i>
            </a>&nbsp; -->
            <a (click)="deleteFoundRecord(itm)" class="btn btn-danger">Delete&nbsp;
              <i class="fas fa-trash-alt"></i>
            </a>
          </td>
        </tr>

      </tbody>
    </table>

  </div>
</div>






<!-- Delete modal -->
<div id="deleteModal" class="modal fade">
  <div class="modal-dialog modal-delete">
    <div class="modal-content">
      <div class="modal-header">
        <div class="icon-box">
          <i class="fa fa-times"></i>
        </div>
        <h4 class="modal-title">Are you sure?</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
        <p>Do you really want to delete this store? This process cannot be undone.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="confirmDelete()">Delete</button>
      </div>
    </div>
  </div>
</div>

