<app-dashboardheader></app-dashboardheader>
<div id="page-wrapper" style="min-height: 217px;">
  <div class="row">
    <div class="alert alert-danger" *ngIf="errorMessage">
      {{errorMessage}}
    </div>

    <table class="table table-stripped" *ngIf="awarenessList">
      <tr>
        <td>S.N.</td>
        <td>Date</td>
        <td>Title</td>
        <td>Created By</td>
        <td></td>
      </tr>
      <tr *ngFor="let nws of awarenessList;let i=index">
        <td>{{i+1}}</td>
        <td>{{nws.date | date}}</td>
        <td>{{nws.title}}</td>
        <td>{{nws.postedBy.name}}</td>
        <td><a>View news</a></td>
      </tr>
    </table>

  </div>
</div>