<app-header></app-header>
<div class="container">
  <div class="alert alert-danger" *ngIf="errorMessage">
    {{errorMessage}}
  </div>
  <img width="600px;" height="600px;" src="{{awarenessList.file}}" alt="">
  <h2>{{awarenessList.title}}</h2>

  <div class="news-wrapper">
    <table *ngIf="awarenessList">
      <tr>
        <td>Date:</td>
        <td>{{awarenessList.date | date}}</td>
      </tr>
     
    </table>

    <div class="news-content">
      {{awarenessList.description}}
    </div>
  </div>
</div>
<app-footer></app-footer>