<app-dashboardheader></app-dashboardheader>
<div id="page-wrapper" style="min-height: 217px;">
  <div class="row">
    <!-- <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fas fa-bell fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                       
                        <div>Store Room Alert</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div> -->
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-green" style="background-color:  	#D2691E;">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="far fa-id-card fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        
                        <div>Admin Info!</div>
                    </div>
                </div>
            </div>
            <a routerLink="/userlist">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <!-- <div class="col-lg-3 col-md-6">
        <div class="panel panel-yellow" style="background-color:green;">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-shopping-cart fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        
                        <div>Purchase Orders!</div>
                        <div>Customer</div>
                    </div>
                </div>
            </div>
            <a routerLink="/purchaserequest">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="panel panel-yellow" style="background-color: yellow">
          <div class="panel-heading">
              <div class="row">
                  <div class="col-xs-3">
                      <i class="fas fa-balance-scale fa-5x"></i>
                  </div>
                  <div class="col-xs-9 text-right">
                      
                      <div>Sales Orders!</div>
                      <div>Farmer</div>
                  </div>
              </div>
          </div>
          <a routerLink="/salesrequest">
              <div class="panel-footer">
                  <span class="pull-left">View Details</span>
                  <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                  <div class="clearfix"></div>
              </div>
          </a>
      </div>
  </div> -->
   
</div>
</div>