<app-dashboardheader></app-dashboardheader>
<div id="page-wrapper" style="min-height: 217px;">
  <div class="row">
    <div class="image-wrapper">
      <img src="assets/CarouselImage/awarness.jpg" width="400px;" height="300px;">
    </div>
    <div class="about-wrapper">
      <div class="title-wrapper">
        <h3>About HamroAbhiyanDotCom</h3>
      </div>
      <div class="title-desc">
        <br>
        <p>This we site is developer for public awareness and welfare. We allow our user to create any type of local and
          internation news and provide these news to other uers to read. Also this site allows our user to create report
          of good lost and also provides these informations to other users so that it can help our user to get their good
          lost.</p>
        <br><br>
        <p>We are so concerned about society welfare so that we have provided losts of features regarding society
          awarness and walfare. Allowing user to post job vancancy will help other user to get a good job.</p>
      </div>
    </div>
    <div class="about-wrapper">
      <div class="title-wrapper">
        <h3>Our goal</h3>
      </div>
      <div class="title-desc">
        <br>
        <b>This site is not developer for commercial purpose.</b><br>
        <p> We are so concerned about our society welfare. That's why we have paid our maximum efficiency to take society welfare to next level.
        </p>
  
        <br>
        <br>
       <h4><b>Our major goals are:</b></h4>
        <ul style="list-style-type:disc">
          <li>1.news for every one</li>
          <li>2.discuss about news</li>
          <li>3.solve to lost item problem</li>
          <li>4.provide job information to every user</li>
          <li>5.provide awarness informations</li>
        </ul>
      </div>
    </div>
  </div>
</div>