#page-wrapper {
    padding: 0 15px;
    min-height: 568px;
    background-color: white;
  }
  @media (min-width: 768px) {
    #page-wrapper {
      position: inherit;
      margin: 0 0 0 250px;
      padding: 0 30px;
      border-left: 1px solid #e7e7e7;
    }
  }
  .row{
    padding-top: 20px;
    padding-bottom:20px;
    margin-top: 20px;
  }


  .image-wrapper{ 
    max-width: 500px;
    margin-left: 0px;
}
.about-wrapper{
    width: 100%;
    margin: 0 auto;
    height: 400px;
    overflow: hidden;
}
.title-wrapper{
   width: 100%;
    background-color: rgb(189, 19, 19);
    color: white;
    padding:10px;
    font-weight: bold;
}

.title-desc{
    font-size: 16px;
}

ul{
    list-style-type: circle;
}