<app-header></app-header>

<div class="container">
  <div id="login-page" class="row">
    <div class="col s12 z-depth-6 card-panel">
      <div class="alert alert-danger" *ngIf="errorMessage">
        {{errorMessage}}
      </div>
      <form [formGroup]="awarenessForm" (ngSubmit)="onSubmit()" novalidate>
        <fieldset>
          <legend>Post Awareness News</legend>

          <div class="row">
          </div>

          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">title</i>
              <input class="validate" id="title" type="text" formControlName="title">
              <label for="title" data-error="wrong" data-success="right"> Title</label>
              <div *ngIf="title.invalid && (title.dirty || title.touched)" class="alert alert-danger">
                <div *ngIf="title.errors.required">
                  Title is required.
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">mode_edit</i>
              <textarea id="textarea1" class="materialize-textarea" formControlName="description"></textarea>
              <label for="textarea1"> Description</label>
              <div *ngIf="description.invalid && (description.dirty || description.touched)" class="alert alert-danger">
                <div *ngIf="description.errors.required">
                  description is required.
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="file-field input-field">
              <div class="btn">
                <span>File</span>
                <input type="file" formControlName="file">
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input type="hidden" value="" formControlName="date">
              
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <button class="btn btn-primary" [disabled]="!awarenessForm.valid">share news</button>
            </div>
          </div>

        </fieldset>
      </form>
    </div>
  </div>
</div>

<app-footer></app-footer>