<app-header></app-header>

<div class="container">
  <div id="login-page" class="row">
    <div class="col s12 z-depth-6 card-panel">
      <div class="alert alert-danger" *ngIf="errorMessage">
        {{errorMessage}}
      </div>
      <form [formGroup]="postNewsForm" (ngSubmit)="onSubmit()" novalidate>
        <fieldset>
          <legend>Post News</legend>

          <div class="row">
          </div>
          <div class="row">
            <input type="hidden" formControlName="createdBy">
          </div>

          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">title</i>
              <input class="validate" id="title" type="text" formControlName="title">
              <label for="title" data-error="wrong" data-success="right">News Title</label>
              <div *ngIf="title.invalid && (title.dirty || title.touched)" class="alert alert-danger">
                <div *ngIf="title.errors.required">
                  Title is required.
                </div>
                <div *ngIf="title.errors.minlength">
                  Title must be 10 charactor long
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">mode_edit</i>
              <textarea id="textarea1" class="materialize-textarea" formControlName="description"></textarea>
              <label for="textarea1">News description</label>
              <div *ngIf="description.invalid && (description.dirty || description.touched)" class="alert alert-danger">
                <div *ngIf="description.errors.required">
                  description is required.
                </div>
                <div *ngIf="description.errors.minlength">
                  description must be 50 charactor long
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="file-field input-field">
              <div class="btn">
                <span>File</span>
                <input type="file" (change)="selectFile($event)">
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <button class="btn btn-primary" [disabled]="!postNewsForm.valid">share news</button>
            </div>
          </div>

        </fieldset>
      </form>
    </div>
  </div>
  <hr>
  <hr>
  <h3>Current News</h3>
  <hr>
  <hr>
  <div class="news-wrapper">
    <table *ngIf="newsList">
      <tr>
        <td>S.N.</td>
        <td>Date</td>
        <td>Title</td>
        <td>Created By</td>
        <td></td>
      </tr>
      <tr *ngFor="let nws of newsList;let i=index">
        <td>{{i+1}}</td>
        <td>{{nws.date | date}}</td>
        <td>{{nws.title}}</td>
        <td>{{nws.createdBy.name}}</td>
        <td>
          <a (click)="viewDetail(nws)" class="btn btn-success" data-toggle="modal" data-target="#detailModalCenter">Read News&nbsp;
            <i class="fas fa-eye"></i>
          </a>
        </td>
      </tr>
    </table>
  </div>
</div>

<app-footer></app-footer>