/* @import "./assets/materialize/css/materialize.min.css"; */

/* You can add global styles to this file, and also import other style files */
nav a.active{
    color:#038be5;
}
.container{
    min-height: 500px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.news-wrapper{
    min-height: 400px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    padding-top: 20px;
}

.news-content{
    margin-top: 10px;
    padding-top: 10px;
}